/**********  Fonts  **********/
$font-primary:      'Lato', sans-serif;
$font-secondary:    'Playfair Display', sans-serif;
$font-size-default: 18px;
/********* Colors ***********/
$primary: #fffefe;
$black-default:   #000000;
$background-default: #071325;
/********  Widths ***********/
$width: 1440px;
$content-width: 1170px;
/********  Breakpoints ******/
$lg: 1300px;
$ht: 1100px;
$md: 900px;
$dc: 700px;
$ds: 500px;
$dd: 440px;